.usersCont {
  min-width: 40vw;
  margin-top: 50px;
  box-shadow: 0 0 50px #ccc;
  border-radius: 10px;

  label {
    font-size: 1.5rem;
  }

  input {
    font-size: medium;
    font-weight: 500;
  }

  .userForm {
    border-radius: 10px;
  }

  button {
    width: 50%;
    margin: auto;
    height: 60px;
    font-size: 2em;
    border-radius: 10px;
  }
}

@media screen and (max-width: 500px) {
  .usersCont {
    min-width: 90vw;

    .userForm {
      padding: 30px 20px;
    }
  }
}
